<div class="container">
	<div class="col-xs-12 col-sm-10 col-md-8 col-lg-7">
		<h1>All Entries</h1>

		<div class="form-group">
		  <!-- <label for="search">Search</label> -->
		  <input type="text" class="form-control" id="search" placeholder="Search" ng-model="searchText">
		</div>

		<div class="well" ng-repeat="entry in entries | filter:searchText track by $index">
		  <img src="{{entry.image}}" width="200">
		  <div class="info">
		  <a href="/entry/{{entry._id}}"><h2 class="title">{{entry.title}}</h3></a>
		  <h4 class="artist">{{entry.artist}}</h4><br>
		  <a href="/profile/{{entry.user}}"><h5 class="user">{{entry.user}}</h5></a>
		  </div>
		</div>
	</div>
</div>