<div class="container">
  <form ng-submit="createEntry()">
    <div class="form-group">
      <label for="description">Title</label>
      <textarea class="form-control" id="description" ng-model="entry.title"></textarea>
    </div>
    <div class="form-group">
      <label for="description">Artist</label>
      <textarea class="form-control" id="description" ng-model="entry.artist"></textarea>
    </div>
     <div class="form-group">
      <label for="description">Category</label>
      <textarea class="form-control" id="description" ng-model="entry.category"></textarea>
    </div>
     <div class="form-group">
      <label for="description">Argument</label>
      <textarea class="form-control" id="description" ng-model="entry.argument"></textarea>
    </div>
     <!-- <div class="form-group">
      <label for="description">Shedding</label>
      <textarea class="form-control" id="description" ng-model="breed.shedding"></textarea>
    </div>
     <div class="form-group">
      <label for="description">Energy Level</label>
      <textarea class="form-control" id="description" ng-model="breed.energylevel"></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image Link</label>
      <input type="url" class="form-control" id="image" placeholder="" ng-model="breed.image">
    </div> -->

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>