<div class="container">
  <form ng-submit="createEntry()">
    <div class="form-group">
      <label for="title">Title</label>
      <textarea class="form-control" id="title" ng-model="entry.title"></textarea>
    </div>
    <div class="form-group">
      <label for="artist">Artist</label>
      <textarea class="form-control" id="artist" ng-model="entry.artist"></textarea>
    </div>
     <div class="form-group">
      <label for="category">Category</label>
      <textarea class="form-control" id="category" ng-model="entry.category"></textarea>
    </div>
     <div class="form-group">
      <label for="argument">Argument</label>
      <textarea class="form-control" id="argument" ng-model="entry.argument"></textarea>
    </div>
    <input type="hidden" id="username" ng-model="entry.user">

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>