body { font-family: Helvetica, Arial, sans-serif; color: black; margin: 10px; 
    /*width: 960px; */
    background-color: #d2dbcd;
    word-wrap: break-word;
/*background-image: url("http://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a6e1f90091d3ac970fb64a53609f3e34"); */
background-image: url("https://images.unsplash.com/photo-1461360228754-6e81c478b882?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=380f3a7f89d8679195123a4e3245791b");
background-size: cover;
background-attachment: fixed;
}
li {
    color: black;
}
#posterframe { position: absolute; right: 10px; top: 10px; }
h1 { color: white; font-weight: bold; font-family: 'Cantata One', serif}
/*h2 { color: #666; font-size: 16px; font-family: 'Roboto Slab', serif;}*/
p { font-size: 14px; line-height: 18px; }
#logo { height: 51px; width: 241px; }
a { color: black }

.actions { margin: 20px 0; }
.upload_link { color: #000; border: 1px solid #aaa; background-color: #e0e0e0;
    font-size: 18px; padding: 5px 10px; width: 250px; margin: 10px 0 20px 0;
    font-weight: bold; text-align: center; text-decoration: none; margin: 5px; }

.photo { margin: 10px; padding: 10px; border-top: 2px solid #ccc; }
.photo .thumbnail { margin-top: 10px; display: block; max-width: 200px; border: none; }
.toggle_info { margin-top: 10px; font-weight: bold; color: #e62401; display: block; }
.thumbnail_holder { height: 182px; margin-bottom: 5px; margin-right: 10px; }
.info td, .uploaded_info td { font-size: 12px }
.note { margin: 20px 0}

.inline { display: inline-block; }
td { vertical-align: top; padding-right: 5px; }

#direct_upload_jquery, #direct_upload { padding: 20px 20px; margin: 20px 0;
    border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }

#direct_upload_jquery h1, #direct_upload h1 { margin: 0 0 15px 0; }

.back_link { font-weight: bold; display: block; font-size: 16px; margin: 10px 0; }

form { border: 1px solid black; margin: 15px; padding: 15px; border-radius: 4px; background-color: white;}
form .form_line { margin-bottom: 20px; }
form .form_controls { margin-left: 180px; }
form label { float: left; width: 160px; padding-top: 3px; }
form .error { color: #c55; margin: 0 10px; }

#direct_upload, #direct_upload_jquery { border: 4px dashed #ccc; }
#direct_upload.dragover { border-color: #0c0; }
#direct_upload.dragover-err { border-color: #c00; }

.upload_details { font-size: 12px; margin: 20px; border-top: 1px solid #ccc; word-wrap: break-word; }
.upload_button_holder {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.upload_button {
    display: inline-block;
    position: relative;
    font-weight: bold;
    font-size: 14px;
    background-color: rgb(15, 97, 172);
    color: #fff;
    padding: 5px 0;
    border: 1px solid #000;
    border-radius: 4px;
    width: 100px;
    /*height: 18px;*/
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.upload_button_holder .upload_button {
    display: block;
} 

.upload_button:hover {
    background-color: rgb(17, 133, 240);
}
.upload_button_holder .cloudinary_fileupload {
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: none;
}
.progress-bar{
  width: 100px;
  position: relative;
  height: 4px;
}
.progress-bar .progress{
  height: 4px;
  background-color: #ff0000;
  width: 0;
}
.preview img, .preview audio, .preview video {
    max-width: 300px;
    max-height: 150px;
}


.prof-img {
    /*float: left;*/
    margin-right: 15px;
    margin-bottom: 15px;
}

.title {
    /*float: right;*/
    /*display: block;*/
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.artist {
    /*display: block;*/
    /*float: right;*/
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
}

.user {
    /*display: block;*/
    /*float: left;*/
}

.navbar-default .navbar-brand {
    color: black;
}

.navbar-default .nav-item {
    font-size: 20px;
    color: black;
    margin-top: 15px;
    margin-bottom: 15px;
}

.navbar-brand {
    font-size: 50px;
    color: black !important;
    margin-top: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
}

.navbar-default .navbar-nav>li>a {
    color: black;
}

.login {
    color: black;
}

.signup {
    color: black;
}

.well {
    border: 1px solid black;
    /*background-color:rgba(192,192,192,0.6)*/
}

.navbar-default {
    border: 15px solid black;
}

.info {
    float: right;
    margin-right: 15px;
    text-align: right;
}

.profile-info {
    float: none;
}

.info-all {
    float: none;
}




@media only screen and (max-width: 400px) {
    body {
        background-image: none;
        background-color: white;
        width: 375px;
    }
    .col-sm-7 {
        width: 100%;
    }
    .well {
        padding: 10px;
    }
    .info {
        float: right;
        text-align: right;
    }
    img {
        width: 100px;
    }
    h2 {
        font-size: 18px;
    }
    .artist {
        font-size: 13px;
    }
    .title {
        margin-top: 0px;
    }
    .user { 
        font-size: 12px;
    }
    #view-img {
        width: 250px;
        margin-bottom: 10px;
    }
    .prof-img {
        width: 250px;
        margin-bottom: 10px;   
    }
    .navbar-brand {
        font-size: 40px;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 401px) and (max-width: 500px) {
    body {
        background-image: none;
        background-color: white;
        width: 100%;
    }
    .col-sm-7 {
        width: 100%;
    }
    .well {
        /*padding-bottom: 5px;*/
    }
    .info {
        /*margin-right: 75px;*/
        text-align: right;
    }
    img {
        width: 100px;
    }
    h2 {
        font-size: 25px;
    }
    .artist {
        font-size: 20px;
    }
    .title {
        margin-top: 0px;
    }
    .user { 
        font-size: 12px;
    }
    #view-img {
        width: 250px;
        margin-bottom: 10px;
    }
    .prof-img {
        width: 250px;
        margin-bottom: 10px;   
    }
    .navbar-brand {
        font-size: 40px;
        margin-top: 0px;
    }
}

@media only screen and (min-width: 501px) and (max-width: 600px) {
    body {
        background-image: none;
        background-color: white;
        width: 100%;
    }
    .col-sm-7 {
        width: 100%;
    }
    .well {
        /*padding-bottom: 5px;*/
    }
    .info {
        /*margin-right: 75px;*/
        text-align: right;
        margin-right: 10px;
    }
    img {
        width: 150px;
    }
    h2 {
        font-size: 30px;
    }
    .artist {
        font-size: 20px;
    }
    .title {
        margin-top: 10px;
    }
    .user { 
        font-size: 15px;
    }
    #view-img {
        width: 250px;
        margin-bottom: 10px;
    }
    .prof-img {
        width: 250px;
        margin-bottom: 10px;   
    }
    .navbar-brand {
        font-size: 40px;
        margin-top: 0px;
    }
}

@media screen only and (min-width: 601px) and (max-width: 767px) {
    body {
        background-color: white;
        background-image: none;
        /*width: 50%;*/
    }
    .col-sm-7 {
        width: 100%;
    }
    .well {
        /*padding-bottom: 5px;*/
    }
    .info {
        /*margin-right: 75px;*/
        text-align: right;
        margin-right: 10px;
    }
    img {
        width: 150px;
    }
    h2 {
        font-size: 30px;
    }
    .artist {
        font-size: 20px;
    }
    .title {
        margin-top: 10px;
    }
    .user { 
        font-size: 15px;
    }
    #view-img {
        width: 250px;
        margin-bottom: 10px;
    }
    .prof-img {
        width: 250px;
        margin-bottom: 10px;   
    }
    .navbar-brand {
        font-size: 40px;
        margin-top: 0px;
    }
}

@media screen only and (min-width: 768px) and (max-width: 991px) {
    body {
        background-color: white;
        background-image: none;

    }
    .col-sm-7 {
        width: 100%;
    }   
    li {
        font-size: 16px !important;
    } 
    .navbar-default .nav-item {
        font-size: 10px !important;
    }
}

@media screen only and (min-width: 992px) and (max-width: 1024px) {
/*    body {
        background-color: none;
        background-image: url("http://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a6e1f90091d3ac970fb64a53609f3e34"); 
        background-size: cover;
        background-attachment: fixed;
    }*/

}

@media screen only and (min-width: 1025px) and (max-width: 1200px) {
/*    body {
        background-color: none;
        background-image: url("http://images.unsplash.com/photo-1459233313842-cd392ee2c388?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=a6e1f90091d3ac970fb64a53609f3e34"); 
        background-size: cover;
        background-attachment: fixed;
    }*/
}



